<h1>Listing products</h1>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Category</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= number_to_currency(product.pricing) %></td>
            <td><%= product.category.name %></td>
            <td>
                <a href="/products/<%= product.id %>">Show</a> | 
                <a href="/products/<%= product.id %>/edit">Edit</a> | 
                <form action="/products/<%= product.id %>" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="submit" value="Destroy">
                </form>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<a href="products/new">New Product</a>